/* .container {
    width: 1170px;
}
element {

}
.navbar-inverse {

    background: #17a43b;

}
.navbar {

    border-radius: 0px;
    margin: 0px;
    border: none;

}
.navbar-inverse {

    background-color: #222;
    border-color: #080808;

}
   
.navbar {
    border-radius: 4px;

    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;

}

.navbar {
    border-radius: 0px;
    margin: 0px;
    border: none;
}

.navbar-inverse {

    background: #17a43b;

}


element {

}
.navbar-inverse .navbar-nav > li > a {

    font-family: 'texgyreadventorbold';
    font-size: 16px;
    color: #fff;
}

.nav > li > a {
    padding: 19px 26px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
} */